/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#title {
  font-family: 'New Tegomin', serif;
  color: pink; 
}
#paragraphs {
  font-family: 'Questrial', sans-serif;
}